$minimum_big_screen_width: 650px;
$text-color: #495057;
$background-color: #FFFFFF;
$accent-color: #000000;
$underline: underline dotted;

$border-style: 2px solid $accent-color;
$padding: 0.5rem;
$font-size: 14pt;
//$big-header-size: 64px;

$max-screen-width: 1000px;

@function clamped-vw($value) {
    @return min(#{$value}vw, #{calc(calc($value/100) * $max-screen-width)});
}

$big-header-size: clamped-vw(10);

:root {
    --sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
        "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
        "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: $text-color;
    font-family: var(--sans-font);
    font-size: $font-size;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: $text-color;
    text-decoration: $underline;
    font-weight: 700;
}
hr {
    color: rgba(0,0,0,0);
    width: 100%;
    border-top: 1px solid $text-color;
}

#top-level {
    max-width: clamped-vw(100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "header"
        "metadata"
        "content";
    border: $border-style;
    margin: $padding;
    p, pre {
        margin: 0px;
        padding: $padding;
    }
    h2, h3, h4, h5 {
        margin: 0px;
        padding: $padding $padding 0;
    }
    h2 {
        font-weight: 700;
        font-size: 2 * $font-size;
    }

    main > .footnote-definition {
        //margin: $padding / 2;
        padding: $padding / 2;
        //position: relative;
        p {
            font-size: 10pt;
            border:  none;
            text-indent: 10px;
            font-style: italic;
        }
        .footnote-definition-label {
            position: absolute;
            top: $padding * 1.2;
            left: $padding * 1.2;
            font-size: 8pt;
            font-weight: 700;
        }
    }

    main > * {
        grid-column: 1/2;
        position: relative;
    }
    main > * + .footnote-definition {
        top: 0;
    }

    .nav-section {
        grid-area: nav;
    }
    header {
        grid-area: header;
        display: inline-grid;
        //grid-template-columns: subgrid;
        grid-template-columns: 7fr 1fr;

        background: #000;
        color: #FFF;
        margin: 0;
        padding: $padding $padding 0px;
        overflow: clip;
        h1 {
            display: block;
            margin: 0;
            padding: 0;
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 700;
            font-size: $big-header-size;
            grid-column: 2/3;
            grid-column: 1/2;
        }
        img {
            justify-self: center;
            align-self: end;
            max-width: calc(1.5 * $big-header-size);
            display: block;
            aspect-ratio: 1;
            grid-column: 3/4;
        }
    }
    code {
        font-family: var(--mono-font);
        //color: $background-color;
        //background-color: $text-color;
        border-radius: 3px;
        font-size: 0.8em;
        padding: 0 $padding/2 0;
    }
    pre {
        code { background: rgba(0,0,0,0) }
        font-family: var(--mono-font);
        padding: 1rem;
        border: none;
        display: flex;
        overflow: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: end;
        align-content: stretch;
        justify-content: space-between;
        &[data-linenos] {
            padding: 1rem 0;
        }
        table {
            ld {
                padding: 0;
            }
            td:nth-of-type(1) {
                text-align: center;
                user-select: none;
            }
        }
        mark {
            display: block;
            // zola docs say to do this but it gets overridden anyway?
            //background-color: rgba(254, 252, 232, 0.9);
        }
        code {
            width: 100%;
            table {
                width: 100%;
                border-collapse: collapse;
            }
        }
    }

    @media screen and (min-width: $minimum_big_screen_width) {
        & {
            grid-template-columns: 1fr 5fr 2fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "nav      nav     nav"
                "header   header  header"
                "metadata content content"
                "footer   footer  footer";
            grid-column-gap: 1px;
        }
        * {
            grid-row: span 3;
            grid-column: 1/2;
        }

        .footnote-definition {
            grid-column: 2/3;
            grid-row: span 3;
            right: 0;
            width: 100%;
            align-self: start;
            margin-top: 0;
        }
        header {
            grid-template-columns: subgrid;
            h1 {
                grid-column: 2/3;
                padding: $padding;
            }
        }
    }

}

.blog-link {
    text-decoration: none;
    font-weight: inherit;
}

#top-level .blog-card {
    transition: all .15s;
    box-shadow: 5px 5px $accent-color;
    &:hover {
        box-shadow: none;
        transform: translate(5px, 5px);
        color: $background-color;
        background: $accent-color;
    }
    border: 1px dotted;
    margin: $padding;
    .blog-card--heading {
        margin: $padding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        h1 {
            margin: 0;
            padding: 0;
            font-size: $font-size * 3;
        }
        .blog-card--heading--details{
            text-align: end;
            margin: $padding;
            margin-top: $font-size;
        }
    }
    .blog-card--summary {
        h1 {
            font-size: $font-size;
        }
    }
    @media screen and (max-width: $minimum_big_screen_width) {
        .blog-card--summary { display: none; }
        .blog-card--heading {
            flex-direction: column;
            align-items: left;
            .blog-card--heading--details {
                text-align: left;
                padding: $padding;
                margin: none;
            }
        }
        h1 {
            font-size: $font-size;
        }
    }
}

#top-level main {
    grid-area: content;
    display: inline-grid;
    grid-template-columns: subgrid;
    h1 {
        font-weight: 700;
        font-size: $big-header-size / 2;
        margin: $padding;
    }
    &.blog-listing {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 80% 1fr;

        > .blog-articles {
            list-style: none;
            margin: 0;
            padding-left: 0;
            grid-column: 2/3;
        }

    }
}
.metadata {
    grid-area: metadata;
    margin-top: $padding;
    font-size: $font-size / 1.5;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-between;
}
nav {
    display: flex;
    padding: 20px;
    background: $background-color;
    ul {
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        font-family: "IBM Plex Sans Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
        align-items: center;
        justify-content: space-around;
        align-content: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: -20px 0px -20px 0px;
        padding: 0;
        stroke: $accent-color;
        li {
            a {
                font-size: 36px;
                color: $text-color;
                text-decoration: none;
                font-weight: 400;
                &.active {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
}

$hamburger_width: 33px;
.nav-section {
    #normal-menu {
        display: none;
    }
    #hamburger-menu {
        display: grid;
        flex-direction: row;
        align-content: stretch;
        justify-items: center;
        &:has(> .hamburger input:checked) nav {
            opacity: 1;
            //transform: translate(0,$hamburger_width*1.5);
            transform: translate(0, calc(200% + $hamburger-width));
        }
        nav {
            z-index: 50;
            transform-box: content-box;
            position: absolute;
            transform-origin: 0% 0%;
            top: -410px;
            left: 0px;
            //transform: translate(0,-110%);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            margin: 0;
            width: 100%;
            padding: 0;
            background: none;
            ul {
                background-color: $background-color;
                margin: $padding;
                border: $border-style;
                flex-direction: column;
            }
        }
        .hamburger {
            position: relative;
            // the hamburger lines have a margin-bottom each so don't set that
            margin: 10px 10px 0 10px;
            height: $hamburger_width;
        }
        input {
            position: absolute;
            top:  - $hamburger_width / 4;
            left: - $hamburger_width / 4;
            margin: 0;
            padding: 0;
            display: block;
            width: 1.5 * $hamburger_width;
            height: 1.5 * $hamburger_width;
            cursor: pointer;
            opacity: 0%;
            z-index: 100;
            -webkit-touch-callout: none;
            &:checked ~ .hamburger-line {
                opacity: 1;
                transform: rotate(45deg) translate(3px, -4px);
                background: $accent-color
            }
            &:checked ~ .hamburger-line:nth-last-child(2) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2,0.2);
            }
            &:checked ~ .hamburger-line:nth-last-child(1) {
                transform: rotate(-45deg) translate(4px, 4px);
            }
        }
        .hamburger-line {
            opacity: 1;
            display: block;
            position: relative;
            width: $hamburger_width;
            height: 4px;
            margin-bottom: 5px;
            background: $accent-color;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.8, 0.2, 0.05, 1.0),
                        opacity, 0.55s ease;
            &:first-child {
                transform-origin: 0 0;
            }
            &:last-child {
                transform-origin: 0 100%;
            }
        }
    }
    @media screen and (min-width: $minimum_big_screen_width) {
        #normal-menu {
            display: block;
        }
        #hamburger-menu {
            display: none;
        }
    }
}
.links {
    background-color: $text-color;
    color: $background-color;
    padding: $padding;
    display: flex;

    h1 { display: none; }
    flex-direction: column;
    @media screen and (min-width: $minimum_big_screen_width) {
        flex-direction: row;
        h1 {
            display: block;
            font-style: italic;
            max-width: 50%;
        }
    }
    justify-content: space-around;
    align-content: center;
    border-radius: 5px;
    margin-top: $padding;

    ul {
        list-style-type: none;
        text-align: end;
        a {
            color: $background-color;
        }
    }
}
.experience {
    .experience-details {
        padding: $padding;
        display: grid;
        grid-columns: 2fr 3fr;
        grid-column-gap: $padding;
        grid-rows: 1fr 1fr;
        margin-top: $padding;
        * {
            grid-row: span 1;
        }
        .position, .result {
            grid-row: 1;
            grid-column: 2;
            font-variant: small-caps;
            font-size: 13pt;
            font-weight: 700;
            justify-self: end;
            text-align: end;
            align-self: end;
            color: #777;
        }
        .org-name {
            grid-row: 1;
            grid-column: 1;
            padding: 0;
        }
        .work-dates {
            grid-row: 2;
            grid-column: 2;
            font-size: 11pt;
            justify-self: end;
            text-align: end;
            align-self: end;
        }
        .location {
            grid-row: 2;
            grid-column: 1;
            font-style: italic;
            align-self: end;
        }
    }
    ul {
        list-style-position: outside;
        margin: 0;
        padding-left: 1.5rem;
    }
}

footer {
    width: clamped-vw(100);
    font-size: 0.75 * $font-size;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        text-decoration: none;
        font-color: $text-color;
        font-weight: 400;
    }
}

#top-level > .homepage {
    grid-column: 1/-1;
    picture {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        width: 100%;
        height: 100%;
    }
    position: relative;
}
.homepage-links {
    position: absolute;
    top: 20%;
    z-index: 2;
    background: $background-color;
    opacity: 90%;
    border: $border-style;
    left: clamped-vw(8);
    padding: $padding;
    padding-right: $padding*2;
    width: fit-content;
    $home-links-size: clamped-vw(4);
    font-size: $home-links-size;
    ul {
        list-style: none;
        list-style-position: inside;
        margin:0;
        padding:0;
        li {
            svg {
                width: $home-links-size;
                height: $home-links-size;
                path {
                    fill: darken($text-color, 10%);
                }
            }
            .svg-wrapper {
                width: fit-content;
                height: fit-content;
                display:flex;
                justify-content: end;
            }
            .link-text-wrapper {
                margin-left: calc(0px - #{$home-links-size} * (7/8) );
            }
        }
        a {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            font-weight: 400;
            transition: color 0.1s;
            &:hover {
                color: $accent-color;
                svg > path {
                    transition: fill 0.1s;
                    fill: $accent-color;
                }
            }
        }
    }
    @media screen and (max-width: $minimum_big_screen_width) {
        $home-links-mob-size: clamped-vw(6.5);
        font-size: $home-links-mob-size;
        padding-right: calc($home-links-mob-size/4);
        left: $padding;
        ul li svg {
            width: $home-links-mob-size;
            height: $home-links-mob-size;
        }

        ul li .link-text-wrapper {
              margin-left: calc(0px - #{$home-links-mob-size} * 7/8 );
        }
    }
}
