{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
   @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  {% block extraheaders %} {% endblock %}
  <title>Ben's Site</title>
  <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml"/>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>

<body>
      {% block content %} {% endblock %}
</body>
<script> </script>

</html>
