{% extends "base.html" %}

{% block extraheaders %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{% if page.summary %}{{ page.summary | striptags | safe}}{% endif %}">
{% endblock extraheaders %}
{% block title %} {{ page.title }} {% endblock title %}

{% block content %}

{{ macros::navbar(current="blog") }}
<header>
<h1>
  {{ page.title }}
</h1>
<img src="/greyscale_portrait.svg" alt="an svg stylized greyscale image of me, the author">
</header>
<section class="metadata">
  <p class="date"><strong>Date:<br><time datetime="{{ page.date }}">{{ page.date }}</time></strong></p>
  <p class="reading-time">Reading time:<br><strong>{{ page.reading_time }} minutes</strong></p>
</section>
<main>
  {{ page.content | safe }}
</main>

{% endblock content %}
