{% extends "base.html" %}
{% block extraheaders %}
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ get_url(path="blog/atom.xml", trailing_slash=false) }}">
<meta property="og:image" content="/logo_and_me.png">
{% endblock extraheaders %}
{% block content %}
{{ macros::navbar(current="blog") }}
{{ macros::header(text=section.title) }}
<main class="blog-listing">
  <ul class="blog-articles">
  {% for page in section.pages %}
    <li>
      <a class="blog-link" href="{{ page.permalink | striptags | safe }}">
        <div class="blog-card">
          <div class="blog-card--heading">
            <h1>{{ page.title }}</h1>
            <div class="blog-card--heading--details">
              <span class="date">Date:&nbsp;<strong><time datetime="{{ page.date }}">{{ page.date }}</time></strong></span>
              <br>
              <span class="reading-time">Reading&nbsp;time:&nbsp;<strong>{{ page.reading_time }}&nbsp;minutes</strong></span>
            </div>
          </div>
          <div class="blog-card--summary">
            {{ page.summary | regex_replace(pattern=`<\/?a( [^ >]+){0,2}>`, rep=``) | safe }}
          </div>
        </div></a></li>
  {% endfor %}
  </ul>
</main>
{% endblock content %}
