{% extends "base.html" %}

{% block extraheaders %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{% if page.summary %}{{ page.summary | striptags | safe}}{% endif %}">
<meta property="og:image" content="{% if page.extra.og_image %}{{ page.extra.og_image | safe}}{% else %}/logo_and_me.png{% endif %}">
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ get_url(path="blog/atom.xml", trailing_slash=false) }}">

{% endblock extraheaders %}
{% block title %} {{ page.title }} {% endblock title %}

{% block content %}

{{ macros::navbar(current="blog") }}
<header>
<h1>
  {{ page.title }}
</h1>
<img src="/greyscale_portrait.svg" alt="an svg stylized greyscale image of me, the author">
</header>
<section class="metadata">
  <p class="date">Date:<br><strong><time datetime="{{ page.date }}">{{ page.date }}</time></strong></p>
  <p class="reading-time">Reading&nbsp;time:<br><strong>{{ page.reading_time }} minutes</strong></p>
</section>
<main>
  {{ page.content | safe }}
</main>

{% endblock content %}
