{% extends "base.html" %}

{% block extraheaders %}
<link href="/print.css" media="print" rel="stylesheet">
{% endblock extraheaders %}



{% block content %}
{% set cv = load_data(path="cv.yaml") %}
{{ macros::navbar(current="cv") }}
{{ macros::header(text=cv.base.name)}}
<main>{{ page.content | safe }}
<div class="links">
<h1>{{ cv.base.title }}</h1>
<ul>
    <li>email: {{ cv.base.email | markdown(inline=true) | safe }}</li>
    <li>url: <a href="{{ cv.base.url | markdown(inline=true) | safe }}">{{ cv.base.url | markdown(inline=true) | safe }}</a></li>
    <li>github: {{ cv.base.github | markdown(inline=true) | safe }}</li>
    <li>mastodon: {{ cv.base.mastodon | markdown(inline=true) | safe }}</li>
</ul>
</div>

<h1>Experience</h1>
<hr>

{% for work in cv.experience %}
<div class="experience" id="{{ work.company | slugify | safe }}">
    <div class="experience-details">
        <h3 class="org-name">{{ work.company }}</h3>
        <span class="position">{{ work.position }}</span><br>
            {% if work.location %}<em class="location">{{ work.location }}</em><br>{% endif %}
            <span class="work-dates">{{ work.startDate }}–{{ work.endDate }}</span>
    </div>
    {% if work.intro %}
    <p class="intro">{{ work.intro | markdown(inline=true) | safe }}</p>
    {% endif %}
    {% if work.highlights %}
    <ul>
        {% for highlight in work.highlights %}
        <li>{{ highlight | markdown(inline=true) | safe}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
</div>
{% endfor %}

<h1>Outside Responsibilities</h1>

{% for org in cv.other %}
<div class="experience" id="{{ org.organization | slugify | safe }}">
    <div class="experience-details">
        <h3 class="org-name">{{ org.organization }}</h3>
        <span class="position">{{ org.position }}</span><br>
        {% if org.location %}<em class="location">{{ org.location }}</em><br>{% endif %}
        <span class="work-dates">{{ org.startDate }}–{{ org.endDate }}</span>
    </div>
    {% if org.intro %}
    <p>{{ org.intro | markdown(inline=true) | safe }}</p>
    {% endif %}
</div>
{% endfor %}
</main>
{% endblock content %}
