{% extends "base.html" %}

{% block extraheaders %}
<link href="/print.css" media="print" rel="stylesheet">
{% endblock extraheaders %}



{% block content %}
{% set cv = load_data(path="cv.yaml") %}
{{ macros::navbar(current="cv") }}
{{ macros::header(text=cv.base.name)}}
<main>{{ page.content | safe }}
<div class="links">
<h1>{{ cv.base.title }}</h1>
<ul>
    <li>email: {{ cv.base.email | markdown(inline=true) | safe }}</li>
    <li>url: <a href="{{ cv.base.url | markdown(inline=true) | safe }}">{{ cv.base.url | markdown(inline=true) | safe }}</a></li>
    <li>github: {{ cv.base.github | markdown(inline=true) | safe }}</li>
    <li>mastodon: {{ cv.base.mastodon | markdown(inline=true) | safe }}</li>
</ul>
</div>

<h1 id="experience">Experience</h1>
<hr>

{% for work in cv.experience %}
{{ macros::experience(exp=work) }}
{% endfor %}

<h1 id="other">Outside Responsibilities</h1>

{% for org in cv.other %}
{{ macros::experience(exp=org) }}
{% endfor %}

<h1 id="education">Education</h1>

{{ macros::experience(exp=cv.education, id="university-of-st-andrews-education") }}
<br>
</main>
{% endblock content %}
