{% macro menuitem(page, current, capitalize=false, href="") %}
<li >
    <a href={% if href == "" %}"/{{ page }}"{% else %}{{ href }}{% endif %}
       {% if page == current %}class="active"{% endif %}>
        {% if capitalize %}{{page | upper}}{% else %}{{page | title}}{% endif %}
    </a>
</li>
{% endmacro menuitem %}

{% macro basenavbar(current) %}
<nav>
    <ul>
        {{ self::menuitem(page="home", current=current, href="/") }}
        {{ self::menuitem(page="blog", current=current) }}
        {{ self::menuitem(page="cv", current=current, capitalize=true) }}
        {{ self::menuitem(page="about", current=current) }}
    </ul>
</nav>
{% endmacro basenavbar %}


{% macro navbar(current) %}
  <section class="nav-section">
    <div id="normal-menu">{{ self::basenavbar(current=current) }}</div>
    <div id="hamburger-menu">
      <div class="hamburger">
      <input type="checkbox">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      </div>
      {{ self::basenavbar(current=current) }}</div>
  </section>
{% endmacro navbar %}

{% macro header(text) %}
<header>
    <h1>
        {{ text }}
    </h1>
    <img src="/greyscale_portrait.svg" alt="an svg stylized greyscale image of me, the author">
</header>
{% endmacro header %}
